@page "/Routes/upload"
@inject HttpClient Http
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Web;
 
@using System.IO;
@using System.Data;
@using System.Data.OleDb;
@using System.Data.SqlClient;
@using System.Configuration;



<h1>Upload Data</h1>

 

@code {
                                           
            
          
}
 